.maincontainer{
    margin: auto;
    width: 40%;
    height:30em;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    width:60%;
    height:80%;
    background-color:white;
}
.container>form >input{
    width:80%;
    height:2.5em;
    margin: 10px;
    margin-bottom: 20px;
}
#btn{
    background-color: rgb(116, 116, 238);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
#errMsg-1,#forgot{
    color: red;
}