.maincontainer34{
    margin: auto;
    width: 40%;
    height:30em;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container34{
    width:60%;
    height:80%;
    background-color:white;
}
.container34>form >input{
    width:80%;
    height:2.5em;
    margin: 10px;
}
#btn{
    background-color: rgb(116, 116, 238);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.container34>p{
    text-decoration:none;
    color: red;
}